*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  color: white;

  background-color: midnightblue;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;

  li {
    width: fit-content;
  }

  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: lighten($color: midnightblue, $amount: 20);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
      0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
      0 16px 16px rgba(0, 0, 0, 0.05);
      transition: all .2s;
  }

  a:hover{
    transform: scale(1.1);
  }

  .number {
    font-size: 5rem;
    font-weight: bold;
  }

  .text {
  }
}
